<% if logged_in? %>
<h4>Hey there! Create your own playlist below or browse our super cool song library!<h4>
  <br>

  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <%= render 'playlists/form', playlist: @playlist %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <% if @playlists.blank? %>
        <p class="text-center">There aren't any playlists yet, you should create one!</p>
      <% else %>
        <% @playlists.each do |playlist| %>
            <%= link_to playlist.name, playlist%>
          <br>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <h1>Welcome to Zena's Music Player!</h1>
      <p>Sign up or log in to get started!</p>
    </div>
  </div>
<% end %>
