<h1>All Albums</h1>

<div class="row">
  <% @albums.each do |album| %>
    <div class="col-md-4 text-center">
      <%= link_to album.name, artist_album_path(album.artist, album) %> by <%= link_to album.artist.name, album.artist %>
    </div>
    <br>
  <% end %>
</div>